<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>A simple weather forcast website.</p>
        <p>This site was created by Mirko Lauff. Is uses data from mapbox.com and darksky.net</p>
        {{!-- <img class="portrait" src="/img/me.png" /> --}}

    </div>
    {{>footer}}
</body>

</html>